In [8]:
import pandas as pd
import seaborn as sns
import numpy as np

In [9]:
pd.set_option('display.max_columns', None)

In [10]:
df = pd.read_csv("dataset/life-expectancy-2012.csv", sep=",", decimal=".")
print(df.shape)
df.head()

(129, 21)

,Country,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,Developing,59.5,high,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
1,Albania,Developing,76.9,middle,0,5.14,412.443356,99.0,9,55.8,1,99.0,5.59,99.0,0.1,4247.614380,2941.0,1.3,1.4,0.752,14.2
2,Algeria,Developing,75.1,middle,21,0.66,555.926083,95.0,18,56.1,24,95.0,6.14,95.0,0.1,5564.825660,37565847.0,5.9,5.8,0.732,14.4
3,Angola,Developing,56.0,very high,72,8.24,256.122524,75.0,4458,21.5,110,75.0,3.30,75.0,2.6,4598.249988,259615.0,8.8,8.6,0.508,10.3
4,Argentina,Developing,75.9,very low,9,8.35,1133.558003,91.0,2,61.0,10,99.0,5.20,91.0,0.1,12969.771200,4296739.0,1.0,0.9,0.822,17.2

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129 entries, 0 to 128
Data columns (total 21 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Country                          129 non-null    object
 1   Status                           129 non-null    object
 2   Life expectancy                  129 non-null    float64
 3   Adult Mortality                  129 non-null    object
 4   infant deaths                    129 non-null    int64
 5   Alcohol                          129 non-null    float64
 6   percentage expenditure           129 non-null    float64
 7   Hepatitis B                      129 non-null    float64
 8   Measles                          129 non-null    int64
 9    BMI                             129 non-null    float64
 10  under-five deaths                129 non-null    int64
 11  Polio                            129 non-null    float64
 12  Total expenditure                129 non-null    float64
 13  Diphtheria                       129 non-null    float64
 14   HIV/AIDS                        129 non-null    float64
 15  GDP                              129 non-null    float64
 16  Population                       129 non-null    float64
 17   thinness  1-19 years            129 non-null    float64
 18   thinness 5-9 years              129 non-null    float64
 19  Income composition of resources  129 non-null    float64
 20  Schooling                        129 non-null    float64
dtypes: float64(15), int64(3), object(3)
memory usage: 21.3+ KB

### Research question

We're interested in understanding which factors affect positively or negatively the life expectancy in different countries for the year 2012.

### Train - Test split

In [7]:
from sklearn.model_selection import train_test_split

In [ ]:
X = df.drop()

X_train, X_test, Y_train, Y_test = train_test_split()

### Exploratory Data Analysis

In [ ]:
X_train